<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sheduler.meeting.iiitd.meetingsheduler" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".activity.MeetingDetailsActivity"
            android:label="@string/title_activity_meeting_details" >
        </activity>
        <activity
            android:name=".activity.ScheduleMeeting"
            android:label="@string/title_activity_shedule_meeting" >
        </activity>
        <activity
            android:name=".activity.MeetingForm"
            android:label="@string/title_activity_meeting_form" >
        </activity>

        <activity
            android:name=".activity.AddingRegistrationDetails"
            android:label="@string/title_activity_adding_registration_details" >
        </activity>

        <activity
            android:name=".activity.RegistrationPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
